Repository aayushi195/ReachAPI, pull requests merged in 2019-05, with the labels that each got.

#92 Task#769
  apidoc.json
  apidocs/api_data.js
  apidocs/api_data.json
  apidocs/api_project.js
  apidocs/api_project.json
  apidocs/locales/locale.js
  build.properties
  src/edu/asu/heal/core/api/resources/ActivityInstanceResource.java
  src/edu/asu/heal/core/api/resources/ActivityResource.java
  src/edu/asu/heal/core/api/resources/DomainResource.java
  src/edu/asu/heal/core/api/resources/LoggerResource.java
  src/edu/asu/heal/core/api/resources/ModuleResource.java
  src/edu/asu/heal/core/api/resources/PatientResource.java
  src/edu/asu/heal/core/api/resources/ScheduleResource.java
  src/edu/asu/heal/core/api/resources/TrialsResource.java
Labels: API, backend, refactoring

#93 Issue #59 and Issue #57 - Resolved.
  .gitignore
  src/edu/asu/heal/core/api/models/NullObjects.java
  src/edu/asu/heal/core/api/resources/PatientResource.java
  src/edu/asu/heal/reachv3/api/modelFactory/ModelFactory.java
Labels: API, bug

#55 Sprint19
  apidocs/api_data.js
  apidocs/api_data.json
  apidocs/api_project.js
  apidocs/api_project.json
  apidocs/locales/locale.js
  build.properties
  build.xml
  src/edu/asu/heal/core/api/resources/ActivityResource.java
  src/edu/asu/heal/reachv3/api/modelFactory/ModelFactory.java
  src/edu/asu/heal/reachv3/api/modelFactory/scheduleOfModules.json
  src/edu/asu/heal/reachv3/api/service/ReachService.java
Labels: API

#94 Stability branch
  .gitignore
  apidoc.json
  apidocs/api_data.js
  apidocs/api_data.json
  apidocs/api_project.js
  apidocs/api_project.json
  apidocs/locales/locale.js
  build.properties
  src/edu/asu/heal/core/api/models/NullObjects.java
  src/edu/asu/heal/core/api/resources/ActivityInstanceResource.java
  src/edu/asu/heal/core/api/resources/ActivityResource.java
  src/edu/asu/heal/core/api/resources/DomainResource.java
  src/edu/asu/heal/core/api/resources/LoggerResource.java
  src/edu/asu/heal/core/api/resources/ModuleResource.java
  src/edu/asu/heal/core/api/resources/PatientResource.java
  src/edu/asu/heal/core/api/resources/ScheduleResource.java
  src/edu/asu/heal/core/api/resources/TrialsResource.java
  src/edu/asu/heal/reachv3/api/modelFactory/ModelFactory.java
Labels: API, backend
